.padded-section > .padded-row {
    padding-top: 20px;
}

.img-upload-div {
    height: 600px;
    max-height: 600px;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
    margin-bottom: 10px;
}

.img-example {
    height: 100px;
}

.img-profile {
    height: 145px;
    width: 145px;
}

.pad-10 {
    padding-bottom: 10px;
}

.pad-20 {
    padding-bottom: 20px;
}


.agenda-item {
    max-width: 230px;
}


.header-img {
    width: 100%;
}

a {
    color: #ca2600;
}

a:hover,
a:focus {
    color: #ab2000;
}

.text-primary {
    color: #ca2600;
}

.text-primary:hover {
    color: #ab2000;
}

.panel-info {
    border-color: #ab2000;
}
.panel-info > .panel-heading {
    color: #f0e6ec;
    background-color: #ca2600;
    border-color: #ab2000;
}

.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ca2600;
}

.panel-info > .panel-heading > .dropdown .caret {
    border-color: #ab2000 transparent;
}

.table-input input.form-control {
    display: block !important;
    padding: 0  !important;
    margin: 0 !important;
    border: 0 !important;
    width: 100% !important;
    border-radius: 0 !important;
    line-height: 1 !important;
}


.table-input td {
    margin: 0 !important;
    padding: 0 5px !important;
}

button.break-icon {
    min-width: 32px;
}